#header
{background:green;
}
#artykul
{background:#d3d3d3;
}
#stopka
{background:blue;
}
ul{
float:left;
width:100%;
padding:0;
margin:0;
list-style:none;
}
li a
{display:block;
float:left;
text-align:center;
font-size:1,2em;
width:120px;

text-decoration:none;
color:yellow;
background-color:aqua;
padding:10px 15px;
margin:0px,1px 1px 0px;
border:1px navy;
border-radious:3px;
}
li a:haver
{color:yellow;
background:aqua;
border:1px solid;
} 

h1
{
font-size:3em
}